@tailwind base;
@tailwind components;
@tailwind utilities;
/* Ocultar barra de scroll nativa en todos los navegadores */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
